@font-face {
    font-family: 'Fz Beloved Script';
    src: url(../fonts/Fz\ Beloved\ Script.ttf);
    font-size: 50px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .custom-quote{
    height: 200px;
    width: 80%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .custom-quote .custom-text h1{
    font-family: Fz Beloved Script, serif;
  }
  .custom-quote .custom-text p{
    font-style: italic!important;
  }